.input {
  padding-left: 20px;
  border-radius: 50px;
  height: 33px;
  border: 1px solid #AAAAAA;
  background-color: #ffffff;
  width: 300px;
  color: #2A0000;
  outline: none;
  font-size: 11px;
}

.input::placeholder {
  color: #AAAAAA;
  opacity: 1;
}

.input:focus {
  border-color: #f2746a;
}

.btn_primary {
  padding: 12px;
  border-radius: 50px;
  border: 1px solid #2A0000;
  background-color: #EE6A60;
  color: white;
  font-weight: bold;
  font-size: 15px;
  width: 325px;
  height: 52px;
  cursor: pointer;
  transition: opacity 0.2s ease;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.btn_primary:hover {
  opacity: 0.9;
  border: 0;
}

.btn_secondary {
  padding: 12px;
  border-radius: 50px;
  border: 1px solid #2A0000;
  background-color: transparent;
  font-size: 15px;
  color: #6C530E;
  font-weight: bold;
  cursor: pointer;
  width: 325px;
  height: 52px;
  display: flex;
  justify-content: center; 
  align-items: center;
  text-align: center;
}

.btn_secondary:hover {
  border: 1px solid #2A0000;
  background-color: #fdf7e7;
}